* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue-color: #337AB7;
}

body {
    width: 100%;
    /* width: 1366px; */
    min-height: 100vh;
    background: #EEEEEE;
    font-size: 16px;
    position: relative;
}

.logo-markdesk h1 {
    height: 5vh;
    margin-top: 40px;
    margin-left: 30px;

    font-weight: 500;
    font-size: 40px;
    line-height: 130%;

    color: var(--blue-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: 1px solid red; */
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.autorization {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

.a-header {
    padding: 20px 0;

    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    text-align: center;

    /* border: 1px solid red; */
}

.a-form {
    display: flex;
    flex-direction: column;
}

.a-form input {
    margin: 5px 0;
    padding: 0 10px;
    width: 350px;
    height: 50px;

    border-radius: 10px;
    border: 2px solid #E2E2E2;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.a-form a {
    margin: 5px 0;
    width: 350px;
    height: 50px;

    border-radius: 10px;
    border: 2px solid #3271B7;
    background: var(--blue-color);

    cursor: pointer;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.a-form a p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

/* main.html */

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-menu {
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

.main-description {
    width: 100%;
    height: 100vh;
    background: #FCFCFC;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
}

.version {
    color: var(--blue-color);
    padding: 5px 0 20px 80px;
}

.menu-list {
    padding: 100px 0 20px 25px;
    list-style-type: none;
}

.menu-list li a, .menu-list div a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    padding-bottom: 4px;
    margin-bottom: 4px;
    /* border: 1px solid red; */
}

.menu-list li a:hover, .menu-list div a:hover {
    color: var(--blue-color);
    opacity: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 255, 0.25);
}

.menu-list li img, .menu-list div img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.add-popup {
    margin-left: 25px;
    width: 15px !important;
    height: 15px !important;
}

.menu-list div a:hover > .menu-popup-img {
    transform: rotate(-180deg);
    /* transition-duration: 0.4s; */
}

.menu-list-popup {
    display: none;
    flex-direction: column;
    
    padding-left: 25px;
}

.login-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    bottom: 40px;
    left: 20px;
}

.login-info p {
    padding-bottom: 20px;

    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.login-info a {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    cursor: pointer;
    text-decoration: none;
    color: var(--blue-color);

    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.login-info img {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-top: 2px;
}

/* download.html */

.main-description-download {
    width: 100%;
    height: 100vh;
    background: #FCFCFC;

    display: flex;
    flex-direction: column;
}

.main-description-header {
    padding: 5px 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #F8F8F8;
    opacity: 0.8;
}

/* .main-description-header::after {
    content: "";
} */

.main-description-header h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
}

.main-description-header a {
    padding-left: 15px;
    padding-top: 5px;
}

.main-description-header img, .filter-content img {
    width: 18px;
    height: 18px;
}

.main-description-header a:hover {
    transform: translateY(-1px);
    transition-duration: 0.2s;
}

.main-description-content {
    display: flex;
    flex-direction: column;
}

.main-description-content h3 {
    padding: 15px 0;

    text-align: center;
    color: #666666;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
}

.filter-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    /* border: 1px solid blue; */
    align-items: center;
}

.filter-content-el {
    margin-right: 25px;
    margin-left: 25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    /* border: 1px solid red; */
}

.filter-content-el fieldset {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: rgba(0, 0, 0, .5);
    background: white;
}

.filter-content-el fieldset legend {
    margin-left: 10px;
    padding: 0 5px;
}

.filter-content-el fieldset input {
    border: none;
    font-size: 16px;
}

.filter-content-el fieldset select, .menu-filter-content-el fieldset select {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 40px;

    background-image: url(../image/free-icon-back.png);
    background-repeat: no-repeat;
    
    background-position: calc(100% - 10px) center;
    background-size: 15px;

    width: 100%;
}

.filter-content-el-middle-but {
    margin-top: 10px;
    /* border: 1px solid red; */
}

.filter-button-el {
    display: flex;
    flex-direction: row;
    position: relative;
}

.filter-content-el a {
    padding: 10px 20px;
    padding-right: 40px;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background-color: rgba(217, 217, 217, .25);

    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}

.filter-content-el img {
    margin-left: 10px;
    opacity: 0.5;
    position: absolute;
    margin-top: 2px;
}

.filter-button-el a:hover {
    opacity: 1;
    color: black;
    border: 1px solid black
}

.filter-content-el a:hover > img {
    opacity: 1;
}

.main-description-content-button {
    border: 1px solid red
}

.download-button {
    margin: 50px 0 35px 100px;
    width: 200px;
    height: 40px;

    border-radius: 10px;
    border: 2px solid #3271B7;
    background: var(--blue-color);

    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}             

.download-button p {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.download-button:hover {
    background: rgba(217, 217, 217, .5);
    transform: translateY(-3px);
    transition-duration: 0.2s;
}

.download-button:hover > p {
    color: var(--blue-color);
}

.button-for-add-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-filter-button {
    /* margin: 50px 0 35px 100px; */
    width: 100px;
    height: 30px;

    border-radius: 10px;
    border: 2px solid #3271B7;
    background: var(--blue-color);

    cursor: pointer;
    text-decoration: none;

    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}             

.menu-filter-button p {

    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.menu-filter-button:hover {
    background: rgba(217, 217, 217, .5);
    transform: translateY(-3px);
    transition-duration: 0.2s;
}

.menu-filter-button:hover > p {
    color: var(--blue-color);
}

.clear-button {
    background: rgba(217, 217, 217, .75);
    border: 1px solid #D9D9D9;
}

.clear-button p {
    color: black;
}

.clear-button:hover {
    background: white;
    border: 2px solid black;
    /* background: rgba(255, 0, 0, .5); */
    transform: translateY(-3px);
    transition-duration: 0.2s;
}

.clear-button:hover > p {
    color: black;
    /* color: white; */
}

.accept-button:hover {
    background: rgba(31, 125, 54, 0.75);
    border: none;
    transform: translateY(-3px);
    transition-duration: 0.2s;
}

.accept-button:hover > p {
    color: white;
}

/* users */

.main-description-right-button {
    padding-right: 20px;

    display: flex;
    align-items: center;
}

.main-description-right-button a {
    padding-top: 0;
}

.main-description-right-button img {
    width: 25px;
    height: 25px;
}

.users-description-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px 10px;
}

.users-description-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    text-align: center;
}

.users-description-content-row-header .users-description-content-el {
    background: rgba(217, 217, 217, .25);
    cursor: pointer;
}

.users-description-content-row-header .users-description-content-el a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    font-weight: bold;
}

.users-description-content-row-header .users-description-content-el a::after {
    content: "";
}

.users-description-content-el {
    border: 1px solid #D9D9D9;
    width: 15%;
    padding: 10px;
}

.users-description-content-el a {
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
}

.users-description-content-el img {
    width: 20px;
    height: 20px;
    opacity: .5;
}

/* footer-content */

.users-description-footer {
    padding: 20px 60px;

    margin-top: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.count-rows {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.count-rows p {
    padding: 0 10px;
}

.count-rows select {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 60px;
    height: 30px;

    padding-left: 5px;
}

.next-rows-buttons {
    display: flex;
    flex-direction: row;

    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
    height: 30px;
    align-items: center;
}

.next-rows-buttons a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    padding: 5px 10px;
}

.current-number-page {
    color: white !important;
    background: #337AB7;
}

/* menu-main-filter */

.menu-main-filter {
    display: none;
    width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #F8F8F8;

    position: absolute;
    top: 56px;
    right: 0;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: 1px solid red; */
}

.menu-filter-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    padding: 10px 0;
}

.menu-filter-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 25px;
}

.menu-filter-content-el {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    padding-bottom: 10px;
}

.menu-filter-content-el fieldset {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: rgba(0, 0, 0, .5);
    background: white;
}

.menu-filter-content-el fieldset legend {
    margin-left: 10px;
    padding: 0 5px;
}

.menu-filter-content-el fieldset input {
    border: none;
    font-size: 16px;
}

.menu-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.text-color-blue a {
    color: var(--blue-color) !important;
    opacity: 1 !important;
    border-bottom: 1px solid rgba(0, 0, 255, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 255, 0.25);
}

/* info-button */

.information-for-delete-users {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;

    position: absolute;
    top: 40%;
    left: 45%;

    width: 400px;
    background: rgba(217, 217, 217, .5);
    text-align: center;
    border-radius: 10px;
}

.delete-user, .edit-user{
    opacity: .5;
}

.delete-user:hover, .edit-user:hover {
    transform: translateY(0px) !important;
}

.delete-user-transform:hover, .edit-user-transform:hover {
    transform: translateY(-1px) !important;
}

.info-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #337AB7;

    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    padding: 10px 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 10px 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.info-content-text {
    padding: 15px 0;
    color: rgba(0, 0, 0, .75)
}

.info-content-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;

    padding: 10px 0;
}

.info-content-button::before {
    content: "";
}

.info-content-button::after {
    content: "";
}

.info-content-button-clear {
    border: 1px solid #D9D9D9;
    color:rgba(0, 0, 0, .75);
    background: rgba(255, 255, 255, .75);

    width: 120px;
    height: 35px;
    border-radius: 10px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content-button-delete {
    background: #337AB7;
    color: #FFFFFF;

    width: 120px;
    height: 35px;
    border-radius: 10px;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content-button-clear:hover {
    border: 1px solid rgba(0, 0, 0, .75);
    transform: translateY(-1px);
    transition-duration: 0.2s;
}

.info-content-button-delete:hover {
    background: rgba(213, 53, 53, 0.75);
    border: 1px solid red;
    transform: translateY(-1px);
    transition-duration: 0.2s;
}